.error-boundary {
    margin: 100px auto 0;
    padding: 50px;
    border: solid 1px #c0c0c0;
    border-radius: 5px;
    box-shadow: #a9a9a9 10px 10px 10px 2px;
    width: 60%;
    min-height: 60vh !important;
    & > details {
        white-space: pre-wrap;
    }
}