{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "linebreak-style": [
            "error",
            "windows"
        ],
        "max-len": [
            1,
            120,
            2,
            {
                "ignoreComments": true
            }
        ],
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "indent": [
            "error",
            4
        ]
    },
    "plugins": [
        "import",
        "react",
        "jsx-a11y"
    ],
    "extends": [
        "airbnb-base"
    ]
}