#app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #f2f2f2;
}

#create-elem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #f2f2f2;
}