$red: #c43a58;

* {
    margin: 0;
    padding: 0;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    & > *:first-child {
        min-height: 100vh;
        height: 100%;
        flex-grow: 1;
    }
}

.footer {
    width: 100%;
    height: 35px;
    line-height: 30px;
    display: block;
    background-color: #211f1f;
    color: $red;
    position: relative;
    flex-grow: 0;
    & > label {        
        vertical-align: middle;
        margin-left: 15px;
    }
}

.container {
    display: flex;
    flex-direction: column;
}

.counter-buttons {
    margin: auto;
    button {
        width: 45px;
        height: 25px;
        border: solid 1px #878787;
        &:first-child {
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }
        &:nth-child(2) {
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
        }
    }
}

#search-box {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    & > h6 {
        font-size: 20px;
        color: #ffffff;
    }
    .search-input {
        color: #ffffff;
        background: #000000;
        min-height: 35px;
        padding: 0 15px;
        border: none;
        border-bottom: solid 2px $red;
        margin: 12px 0;
    }
}

.search-box-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .search-by-box {
        & > label {
            color: #ffffff;
            margin-right: 6px;
        }
        & > button {
            cursor: pointer;
            background-color: #8f8f8f;
            color: #ffffff;
            border: none;
            border-radius: 3px;
            // width: 50%;
            min-width: 45px;
            margin: 0 4px;
            padding: 3px 10px;
            .active {
                background-color: $red;
            }
        }
    }
    .search-button {
        cursor: pointer;
        background-color: $red;
        color: #ffffff;
        border: none;
        border-radius: 3px;
        min-width: 140px;
        padding: 0 10px;
    }
}

.movie-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.movie-grid-container {
    display: block;
}

.sort-by-lane {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e4e4e4b4;
    width: 100%;
    min-height: 35px;
    margin-bottom: 45px;
    & > label {
        margin-left: 8%;
    }
    & > div {
        margin-right: 8%;
    }
}

.movie-card {
    margin: 25px 40px;
    min-height: 480px;
    height: 100%;
    width: 300px;
    .movie-card-poster {
        // height: 450px;
        width: 100%;
    }
    & > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .movie-card-date {
        padding: 1px 3px;
        border: solid 1px #aeaeae;
        border-radius: 5px;
        width: 32px;
        height: 21px;
    }
    .movie-card-title {
        font-size: 18px;
    }
    .movie-card-genres {
        font-size: 12px;
        color: #7c7c7c;
    }
}